@using EntiyLayers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="     ">
    <meta name="author" content="">
    <title>BLOG SAYFASI </title>
    <!-- Bootstrap Core CSS -->
    <!--Layouta İlgili BootStrapCss Yapıştırdım.-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" /><!--Altına Gir Rootta Ara-->
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" /><!--Özel Css Dosyam-->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script><!--Altına Gir Rootta Ara-->
    <script src="~/Scripts/bootstrap.min.js"></script><!--Altına Gir Rootta Ara-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--LayoutGözükeceklerAyıklama-->
    @{ 
        NoteUser user = null;
        if (Session["login"] !=null)
        {
            user = Session["login"] as NoteUser;
        }
    }
 
@*<style>
    .glyphicon {
        color: #5cb85c
    }
</style>*@
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menü</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index"><span class="glyphicon glyphicon-xbt" style="color: #5cb85c"></span>log Site</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @if (user != null)
                    {
                        <li class="dropdown">
                            <a href="/Note/MyNotes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-wrench" style="color: #5cb85c"></span>Yönetim <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Note/Create"><span class="glyphicon glyphicon-plus" style="color: #5cb85c"></span>Not Ekle</a></li>
                                <li><a href="/Note/Index"><span class="glyphicon glyphicon-th-list" style="color: #5cb85c"></span>Notlarım</a></li>
                                <li><a href="/Note/MyLikedNotes"><span class="glyphicon glyphicon glyphicon-heart" style="color: #5cb85c"></span>Beğendiklerim</a></li>
                                @if (user.IsAdmin)
                                {

                                    <li>
                                        <a href="/NoteAdmin/Index">
                                            <span class="glyphicon glyphicon-list" style="color: #5cb85c">
                                            </span>Düzenlenebilir Notlar
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/Category/Create">
                                            <span class="glyphicon glyphicon-plus" style="color: #5cb85c">
                                            </span>Kategori Ekle
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Category/Index">
                                            <span class="glyphicon glyphicon-th-list" style="color: #5cb85c">
                                            </span>Kategoriler
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/NoteUser/Create">
                                            <span class="glyphicon glyphicon-plus" style="color: #5cb85c">
                                            </span>Kullanıcı Ekle
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/NoteUser/Index">
                                            <span class="glyphicon glyphicon-th-list" style="color: #5cb85c">
                                            </span>Kullanıcılar
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }

                    <li>
                        <a href="/Home/MostLiked">
                            <span class="glyphicon glyphicon-heart" style="color: #5cb85c"></span>En Beğenilenler
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Index">
                            <span class="glyphicon glyphicon-th-list" style="color: #5cb85c"></span>Son Yazılanlar
                        </a>
                    </li>
                    <li>
                        <a href="/Home/About">
                            <span class="glyphicon glyphicon-info-sign" style="color: #5cb85c"></span>Hakkımızda
                        </a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--navbar-nav ise listi yan yana yaptı.Sağa dayalı olmasını sağladık-->
                    @if (user == null)
                    {
                        <li>
                            <a href="/Home/Login">
                                Giriş
                                <span class="glyphicon glyphicon-log-in" style="color: #5cb85c"></span>
                            </a>
                        </li>

                        <li>
                            <a href="/Home/Register">
                                Üye Ol
                                <span class="glyphicon glyphicon-user" style="color: #5cb85c "></span>
                            </a>
                        </li>
                    }
                    else {


                    <li class="dropdown">
                        <a href="/Home/ShowProfile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" style="color: #f0ad4e "></span>@user.UserName <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Home/ShowProfile"><span class="glyphicon glyphicon-user" style="color: #0275d8 "></span>Profili Göster</a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/Home/EditProfile"><span class="glyphicon glyphicon-edit" style="color: #5cb85c"></span>Profili Düzenle</a></li>
                            <li>
                                <a href="/Home/DeleteProfile" onclick="return confirm('Hesabınızı Silmek İstediğinize emin misiniz?');">
                                  <span class="glyphicon glyphicon-trash" style="color: #d9534f "></span>Profili Sil</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="/Home/Logout">
                            Çıkış
                            <span class="glyphicon glyphicon-log-out" style="color: #5cb85c"></span>
                        </a>
                    </li>
                    }

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    @RenderBody()
    
    <!--Bölüm Açıyorum her sayfada partial'ı kullanmayacağım için required i false belirledim..'-->
    @RenderSection("footer",required:false)
</body>
</html>
