    <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <!--4 Parçaya Bölgüm text centerla Ortaladım.-->
                <h5>
                    <strong>Blog Site Haritası</strong>
                </h5>
                <hr /> <!--Başlıktan Sonraki Çizgi-->
                <p>



                    <a href="/Home/About"><span class="glyphicon glyphicon-info-sign"></span>Hakkımızda.</a><br />

                    <a href="/Home/MostLiked"><span class="glyphicon glyphicon-star"></span>En Beğenilenler.</a><br />

                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span>Son Yazılar.</a> <br />

                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h5>
                    <strong>
                        Blog Sayfası
                    </strong> <!--Strong ile koyu yaptık-->
                </h5>
                <hr />

                <p>
                    Tüm Hakları Saklıdır &copy;<br />
                    Blog Sitesi @DateTime.Now.Year
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>
                        E-Bülten Üyeliği
                    </strong>
                </h5>
                <hr />
                <!--Button Addens İnput Gruptan Çekildi-->
                <div class="col-md-10 col-md-offset-1">
                    <!--Soldan Sağdan Bir Boşluk Verdik OffSet ile-->
                    <p>
                        Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                    </p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E Posta Adresiniz...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                Gönder
                                <span class="glyphicon glyphicon-send"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
