@using EntiyLayers


@*@model List<Comment>*@


<div class="media">
    <div class="media-left media-middle">
        <div class="media-object">
            <span class="glyphicon glyphicon-comment"></span>
        </div>
    </div>
    <div class="media-body">
        <div>
            <span>
                Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
                Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
            </span>
            <span class="pull-right">
                <button type="button" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </span>
            <span class="pull-right">
                <button type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
            <small>
                <span class="glyphicon glyphicon-time"></span>19.02.2022 19.02.2022 &nbsp; &nbsp; &nbsp; &nbsp;
                <span class="glyphicon glyphicon-user"></span>Numan Akoluk

            </small>
        </div>
    </div>
</div>

