<!--ViewModel içindeki OkViewModel için bildirimleri ve bazı etiketleri modelden çektik-->
@using PresentationLayer.ViewModels
@model OkViewModel

@{
    ViewBag.Title = Model.Title;
}
<link href="~/Content/Login-register.css" rel="stylesheet" />

<section class="login-info">
    <div class="container">
        <div class="row main">
            <div class="form-header">
                <h1 class="text-center ">@Model.Header </h1>
            </div>
            <div class="main-content">
                <div class="text-success">
                    <h2><span class="glyphicon glyphicon-circle"></span>&nbsp;&nbsp;&nbsp;@Model.Title</h2>
                    <hr />
                    <p class="text-center">
                        @foreach (string msg in Model.Items)
                        {
                            @msg<br>
                        }

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
@{ 
    string js = string.Empty;
    if (Model.IsRedirecting)
    {
        js = "setTimeout(function () { window.location = '" + Model.RedirectingUrl + "'; }, " +
           Model.RedirectTimeOut + ");";
    }
}


<script>
    $(function () {
        $("footer").parent().hide(); //Sayfanın Footerini bul onu gizle.Parent Kalan çizgi için JSON Koduyla Layout gizleme.
        //Html.Raw olduğu gibi kodu ekle demek.Eğer Boşsa zaten boş string ekleyecek.
        @Html.Raw(js);
    });


</script>






