
@{
    ViewBag.Title = "NoAuthorization";
}

<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <h1><span class="glyphicon glyphicon-remove-circle"></span>Yetkisiz Erişim</h1>
        <p>
            Bu Sayfaya Erişim Yetkiniz bulunmamaktadır
            <br />
            <br />
            <a href="/Home/Index" class="btn btn-danger">
                <span class="glyphicon glyphicon-info"></span>Ana Sayfa
            </a>
        </p>
        
    </div>
</div>

